@media (max-width: 1199px) {
  .aside {
    left: -270px;
    transition: all 0.3s ease 0s;
  }

  .aside.open {
    left: 0;
  }

  .aside .nav-toggler {
    display: flex;
    left: 30px;
    transition: all 0.3s ease 0s;
  }

  .aside .nav-toggler.open {
    left: 300px;
  }

  .section {
    left: 0;
  }

  .section .container {
    padding-top: 70px;
  }

  .section.open {
    transition: all 0.3s ease 0s;
    left: 270px;
  }

  .about .about-content .personal-info .info-item p span {
    display: block;
    margin-left: 0;
  }
}

@media (max-width: 991px) {

  .home .home-info {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .home .home-img {
    display: none;
  }

  .service .service-item,
  .portfolio .portfolio-item,
  .contact .contact-info-item {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (max-width: 767px) {

  .about .about-content .education,
  .about .about-content .experience,
  .about .about-content .skills,
  .about .about-content .personal-info,
  .service .service-item,
  .portfolio .portfolio-item,
  .contact .contact-info-item,
  .contact .contact-form .col-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (max-width: 400px) {
  .aside {
    width: 200px;
  }

  .section.open {
    left: 200px;
  }

  .aside .nav-toggler.open {
    left: 230px;
  }
}